/* WP */
.sticky { }
.bypostauthor { }
.alignleft { float: left; margin-right: $global-margin; }
.alignright { float: right; margin-left: $global-margin; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { max-width: 100%; padding: 4px; }
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption { font-style: italic }
img.wp-smiley, .rsswidget img { border: 0; border-radius: 0; box-shadow: none; margin-bottom: 0; margin-top: 0; padding: 0; }
.entry-content dl.gallery-item { margin: 0 }
.gallery-item a, .gallery-caption { width: 90% }
.gallery-item a { display: block }
.gallery-caption a { display: inline }
.gallery-columns-1 .gallery-item a { max-width: 100%; width: auto; }
.gallery .gallery-icon img { height: auto; max-width: 90%; padding: 5%; }
.gallery-columns-1 .gallery-icon img { padding: 3% }

/* Basic Needs */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}